@page
@model WebApp.Pages_Books.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Summary" class="control-label"></label>
                <input asp-for="Book.Summary" class="form-control" />
                <span asp-validation-for="Book.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublishingYear" class="control-label"></label>
                <input asp-for="Book.PublishingYear" class="form-control" />
                <span asp-validation-for="Book.PublishingYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthoredYear" class="control-label"></label>
                <input asp-for="Book.AuthoredYear" class="form-control" />
                <span asp-validation-for="Book.AuthoredYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.WordCount" class="control-label"></label>
                <input asp-for="Book.WordCount" class="form-control" />
                <span asp-validation-for="Book.WordCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.LanguageId" class="control-label"></label>
                <select asp-for="Book.LanguageId" class ="form-control" asp-items="@Model.LanguagesSelectList"></select>
                <small class="text-muted">
                    If you can't find your language,
                    <button type="submit" asp-route-type="Language" asp-page-handler="Redirect" class="btn btn-outline-info btn-sm">
                        create a new one
                    </button>
                </small>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublisherId" class="control-label"></label>
                <select asp-for="Book.PublisherId" class ="form-control" asp-items="@Model.PublishersSelectList"></select>
                <small class="text-muted">
                    If you can't find your publisher,
                    <button type="submit" asp-route-type="Publisher" asp-page-handler="Redirect" class="btn btn-outline-info btn-sm">
                        create a new one
                    </button>
                    </small>
            </div>
            
            <div class="form-group">
                <label asp-for="Book.BookAuthors" class="control-label"></label>
                <select asp-for="BookAuthorIds" class="form-control" asp-items="@Model.AuthorsSelectList" multiple="multiple">
                    <option disabled="disabled"> No author</option>
                </select>
                <small class="text-muted">
                    If you can't find your author,
                    <button type="submit" asp-route-type="Author" asp-page-handler="Redirect" class="btn btn-outline-info btn-sm">
                        create a new one
                    </button>
                </small>


            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>



