@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container">
    <h1 class="display-4">Connect4</h1>
    <p>Let's play!</p>

    <a asp-page="StartNew" asp-route-bot="false" class="box">
        <button type="submit" class="btn btn-outline-info btn-lg">
            Human Vs Human (hotchair)
        </button>
    </a>
    
    <a asp-page="StartNew" asp-route-bot="true" class="box">
            <button type="submit" class="btn btn-outline-info btn-lg">
            Human Vs Bot Ricardo
            </button>
        </a>

        <a asp-page="SaveLoad" class="box" asp-route-save="false">
            <button type="submit" class="btn btn-outline-info btn-lg">
            Load game
            </button>
        </a>
</div>

<style>
    .box {
        display: block;
            margin-top: 1%;
            }
    
    .container > div {
        float: left;
    }
</style>