@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Connect4</h1>
    <p>Let's play!</p>
    <div>
        <button type="submit" class="btn btn-outline-info btn-lg">
            <a asp-page="./StartNew" asp-route-bot="0">Start PVP</a>
        </button>
        <button type="submit" class="btn btn-outline-info btn-lg">
            <a asp-page="./StartNew" asp-route-bot="1"> Start VS Bot</a>
        </button>
        <button type="submit" class="btn btn-outline-info btn-lg">
            <a asp-page="./Load">Load game</a>
        </button>
    </div>
</div>

