@page
@model WebApplication.Pages.Load

@{ var i = 1; }

<div class="text-center">
    <h1 class="display-4">Select a save to load friend</h1>
    <table >
    
    @foreach (var game in @Model.Games)
    {
        <tr >
            <th style="text-align: left;padding: 5px">@i
                <span>) @Html.DisplayFor(modelItem => game)</span>
            </th>
            <td>
                <form method="post">
                    <button type="submit" asp-route-id="@i" class="btn btn-outline-primary btn-sm"> 
                        Load game
                    </button>
                </form>
            </td>
        </tr>
        i++;
    }
    <th style="text-align: left;padding: 5px">
        <a asp-page="./Index">Back</a>
    </th>
    
    </table>
    
    
</div>
