@page
@model WebApplication.Pages.StartNew


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-bot="@Model.VsBot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Settings.FirstPlayerName" class="control-label"></label>
                <input asp-for="Settings.FirstPlayerName" class="form-control" />
                <span asp-validation-for="Settings.FirstPlayerName" class="text-danger"></span>
            </div>
            @if (!Model.VsBot)
                {
                    Model.Settings.SecondPlayerName = "";
                    <div class="form-group">
                        <label asp-for="Settings.SecondPlayerName" class="control-label"></label>
                        <input asp-for="Settings.SecondPlayerName" class="form-control"/>
                        <span asp-validation-for="Settings.SecondPlayerName" class="text-danger"></span>
                    </div>
                }
            <div class="form-group">
                <label asp-for="@Model.SelectedBoardType" class="control-label"></label>
                <select asp-for="@Model.SelectedBoardType" class ="form-control" asp-items="@Model.Boards"></select>
            </div>
            @if (Model.IsCustomBoard)
            {
                <div class="form-group">
                    <label class="control-label"> Board heigth</label>
                    <input asp-for="Settings.BoardHeight" class="form-control" />
                    <span asp-validation-for="Settings.BoardHeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Board width</label>
                    <input asp-for="Settings.BoardWidth" class="form-control" />
                    <span asp-validation-for="Settings.BoardWidth" class="text-danger"></span>
                </div>
                if (Model.InvalidSize)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                       Dimensions should be in range 4-10
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                }
            }
            @if (Model.VsBot)
            {
                <div class="form-check" style="margin-bottom: 2%">
                    
                    <input asp-for="BotIsFirst" class="form-check-input"/>
                    <label class="form-check-label">
                        Bot is starting
                    </label>
                    <span asp-validation-for="BotIsFirst" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Begin" class="btn btn-primary"/>
            </div>
        </form>
        
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
